/* forall */

.text-decoration-none{
  text-decoration: none;
}

/* topbar */

.secondarycolor {
  background: linear-gradient(to right, #ff6347, #ffa500, #ffff00, #32cd32, #4169e1, #8a2be2);
}

.topheaderfont {
  font-size: 13px;
}

/* navbarmain */

@media(max-width: 992px) {
  .navbar_adjust {
      display: none;
  }

}

/* herocarousel */

.imagefit-corousel {
  height: 400px;
}

/* Todaysselection */

.productimageheight{
  height: 225px;
  object-fit: contain;
}

/* allproducts */

.product:hover{
    box-shadow: 1px 1px 5px rgb(187, 187, 187);
}

/* Advertisementbanner */

.Learnmore_image{
  height: 300px;
}

@font-face {
  font-family: Qwitcher_bold;
  src: url('./Fonts/QwitcherGrypen-Bold.ttf');
}

.Qwitcher_bold{
  font-family: Qwitcher_bold;
}

/* footer */

.list_proper{
  list-style: none;
  padding: 0;
}

/* justforyou */

.loadmore:hover{
  box-shadow: 0px 0px 3px red;
}

/* productdisplay */

.productdisplayimg{
  aspect-ratio: 1 / 1;
  object-fit: contain;
}
