/* topbar */

.secondarycolor {
  background: linear-gradient(to right, #ff6347, #ffa500, #ffff00, #32cd32, #4169e1, #8a2be2);
}

.topheaderfont {
  font-size: 13px;
}

/* navbarmain */

@media(max-width: 992px) {
  .hello {
      display: none;
  }

}

/* herocarousel */

.imagefit-corousel {
  height: 400px;
}

/* Todaysselection */

.productimageheight{
  height: 250px;
  object-fit: contain;
}

/* allproducts */

.product:hover{
    box-shadow: 1px 1px 5px rgb(187, 187, 187);
}